@charset "UTF-8";
/* CSS Document */
/*body {
	background-color: #fffee3;
} */
#nav {
	
}

#footer {
	
}
#logo:hover{
}

#links {
	font-size: 20px;
}
a {
	text-decoration:none;
}
#links a:hover {
	text-decoration:underline;
	color:teal;
}
img {
	max-width:32%;
	height:auto;
	margin-bottom: 5px;
}
